<div class="page-header">
<h1>Todos Los estados </h1>
</div>

<%= link_to "crear nuevo estado", new_status_path, class: "btn btn-success" %>
<% @statuses.each do |status| %>

    <div class="status">
        <strong><%= status.nombre %></strong>
        <P><%= status.contenido %></P>
        <div>
            <%= link_to "Hace "+ time_ago_in_words(status.created_at), status %>
            <span class="adm">
              | <%= link_to "Editar", edit_status_path(status) %> |
                <%= link_to "Borrar", status, method: :delete, data: {confirm: "¿esta seguro que quiere elimninar este estado?"} %>
                </span>
        </div>
    </div>

<% end %>